<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lagrange - AnalitixSolver</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/lagrange.css' %}">
</head>

<body>
    <header class="nav-bg">
        <div class="header-main">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/logo-main.webp' %}" alt="logo">
            </a>
            <nav>
                <ul>
                    <li><a href="{% url 'methods' %}">Methods</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <!-- Method playground section -->
        <section class="method-playground">
            <h1>Lagrange Method</h1>
            <!-- Form for input parameters -->
            <form id="lagrangeForm" method="post">
                {% csrf_token %}
                <div class="parameters">
                    <label for="x_values">X values (comma-separated):</label>
                    <input type="text" id="x_values" name="x_values" value="-1,0,3,4" required>
                    <label for="y_values">Y values (comma-separated):</label>
                    <input type="text" id="y_values" name="y_values" value="15.5,3,8,1" required>
                    <button type="submit">Run</button>
                </div>
            </form>
        </section>

        <section class="results-section">
            {% if error %}
            <p><b>{{ error }}</b></p>
            {% else %}
            <div>
                <img style="width:90%;" src="{% static graph %}">
            </div>
            <b>Lagrange interpolating polynomials:</b>
            <table>
                <tr>
                    <th>i</th>
                    <th>L_i(x)</th>
                </tr>
                {% for i, expr in Li_expr %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ expr }}</td>
                </tr>
                {% endfor %}

            </table><br>

            <b>Lagrange polynomial:</b>
            <p>{{ polynomial }}</p>
            {% endif %}
        </section>

        <section class="help-section">
            <h2>Help</h2>
            <p>Enter the x and y values as comma-separated numbers. Each x corresponds to a y, forming coordinate pairs
                used for interpolation.</p>
            <p>Make sure that x values are unique and that you have the same number of x and y values.</p>
        </section>
    </main>
</body>

</html>