<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnalitixSolver</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header class="nav-bg">
        <div class="header-main">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/logo-main.webp' %}" alt="logo">
            </a>
            <nav>
                <ul>
                    <li><a href="{% url 'methods' %}">Methods</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'help' %}">Help</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="welcome">
            <h1>Welcome to AnalitixSolver!</h1>
            <p>Explore a wide range of numerical methods to solve mathematical problems efficiently. Whether you're dealing with roots of equations or optimization tasks, our tool offers an interactive platform to compute answers swiftly and accurately.</p>
            <p>Navigate through our different methods using the 'Methods' tab and start solving right away!</p>
        </section>
        <section class="team">
            <h2>Meet Our Team</h2>
            <div class="team-members">
                <article class="team-member">
                    <img src="{% static 'img/migue.jpeg' %}" alt="Member Name">
                    <h3>Miguel Martínez </h3>
                    <p>FrontEnd Developer</p>
                </article>
                <article class="team-member">
                    <img src="{% static 'img/carla.jpg' %}" alt="Member Name">
                    <h3>Carla Rendón </h3>
                    <p>BackEnd Developer</p>
                </article>
                <article class="team-member">
                    <img src="{% static 'img/pauli.jpg' %}" alt="Member Name">
                    <h3>Paulina López</h3>
                    <p>FrontEnd Developer</p>
                </article>
                <article class="team-member">
                    <img src="{% static 'img/vic.jpg' %}" alt="Member Name">
                    <h3>Víctor Botero</h3>
                    <p>BackEnd Developer</p>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 AnalitixSolver. All rights reserved.</p>
    </footer>
    
</body>
</html>