<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Methods - AnalitixSolver</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/methods.css' %}">

</head>
<body>

<header class="nav-bg">
    <div class="header-main">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/logo-main.webp' %}" alt="logo">
        </a>
        <nav>
            <ul>
                <li><a href="{% url 'methods' %}">Methods</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'help' %}">Help</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="methods-container">
        <h1>Methods</h1>
        <p>13 methods to solve numerical problems</p>
        <div class="methods-list">
            <a href="{% url 'bisection_method' %}" class="method">Bisection</a>
            <a href="{% url 'false_position_method' %}" class="method">False Position</a>
            <a href="{% url 'fixed_point_method' %}" class="method">Fixed Point</a>
            <a href="{% url 'newton_method' %}" class="method">Newton</a>
            <a href="{% url 'secant_method' %}" class="method">Secant</a>
            <a href="{% url 'multiple_roots_method' %}" class="method">Multiple Roots</a>
            <a href="{% url 'jacobi_method' %}" class="method">Jacobi</a>
            <a href="{% url 'gauss_method' %}" class="method">Gauss-Seidel</a>
            <a href="{% url 'sor_method' %}" class="method">SOR</a>
            <a href="{% url 'vandermonde_method' %}" class="method">Vandermonde</a>
            <a href="{% url 'newton_interpolation_method' %}" class="method">Newton interpolation</a>
            <a href="{% url 'lagrange_interpolation_method' %}" class="method">Lagrange</a>
            <a href="{% url 'sor_method' %}" class="method">Spline</a>

            <!-- Agrega más botones según necesites -->
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2024 AnalitixSolver. All rights reserved.</p>
</footer>

</body>
</html>
